<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Рабочее место владельца контента</title>
</head>

<link rel="stylesheet" type="text/css" href="style.css" />

<body>

	<!-- Блок страницы задающий общую, минимальную ширину страницы... -->
	<div class="AllBody">

		<!-- Шапка... -->
		<div class="HeaderBlock">
		
			<!-- Логотип... -->
			<div class="Logo"></div>
			<!-- ...Логотип -->
			
			<!-- Главное меню... -->
				<div class="MenuBox">
					<div class="MnuMyResourcesOff" onclick="document.location='index.html'" onmouseover="this.className='MnuMyResourcesOn'" onmouseout="this.className='MnuMyResourcesOff'"></div>
					<div class="MnuMarketSel" onclick="document.location='market.html'"></div>
					<div class="MnuContactOff" onclick="document.location='#'" onmouseover="this.className='MnuContactOn'" onmouseout="this.className='MnuContactOff'"></div>
					<div class="MnuStatisticsOff" onclick="document.location='stat.html'" onmouseover="this.className='MnuStatisticsOn'" onmouseout="this.className='MnuStatisticsOff'"></div>
					<div class="MnuAnalyticsOff" onclick="document.location='#'" onmouseover="this.className='MnuAnalyticsOn'" onmouseout="this.className='MnuAnalyticsOff'"></div>
					<div class="MnuPersonalareaOff" onclick="document.location='cab.html'" onmouseover="this.className='MnuPersonalareaOn'" onmouseout="this.className='MnuPersonalareaOff'"></div>
				</div>
			<!-- ...Главное меню -->
			
			<div style="width: 10px; height: 10px; clear: both;"><spacer type="block" width="10" height="10"></div>
			<div class="HeadLine"></div>
			
			<!-- Меню вотрого уровня... --->
			<div class="SubMenuOff"><a href="market.html">Мои предложения</a></div>
			<div class="SubMenuSep"></div>
			<div class="SubMenuOff"><a href="otheroffers.html">Предложения других поставщиков</a></div>
			<div class="SubMenuSep"></div>
			<div class="SubMenuSel"><a href="bidding.html">Торги</a></div>
			<!-- ...Меню вотрого уровня --->
			
			<div style="width: 10px; height: 10px; clear: both;"><spacer type="block" width="10" height="10"></div>
			
			<!-- Тело страницы... -->
		
				<div class="h1">Торги</div>

				<!-- Рамка... -->
				<div class="FrameTop"></div>
				<div class="FrameMid">

					<table width="830" align="center" border="0" cellspacing="0" cellpadding="0">
						<tr>
							<th>Тип сделки</th>
							<th>Партнер</th>
							<th>Название предложения</th>
							<th>Описание</th>
							<th>Текущий статус торгов</th>
							<th style="text-align: right;">Дата обновления</th>
						</tr>
						<tr class="ItemUnsel" onclick="document.location='bidproc.html'" onmouseover="this.className='ItemSel'" onmouseout="this.className='ItemUnsel'">
							<td style="font-size: 12px;">Аудитория &#8212; Контент</td>
							<td style="font-size: 12px; white-space: nowrap;">ООО &laquo;Панорама&raquo;</td>
							<td style="font-size: 12px;">Фильмы о войне</td>
							<td style="font-size: 12px;">Десять советских фильмов о войне для любого возраста.</td>
							<td style="font-size: 12px;">Выставлено встречное предложение.</td>
							<td style="font-size: 12px; text-align: right;">01.01.09</td>
						</tr>
						<tr class="ItemUnsel" onclick="document.location='bidproc.html'" onmouseover="this.className='ItemSel'" onmouseout="this.className='ItemUnsel'">
							<td style="font-size: 12px;">Аудитория &#8212; Контент</td>
							<td style="font-size: 12px; white-space: nowrap;">ООО &laquo;Какашечка&raquo;</td>
							<td style="font-size: 12px;">Фильмы о говне</td>
							<td style="font-size: 12px;">Сорок китайских фильмов о говне для любого возраста.</td>
							<td style="font-size: 12px;">Выставлено встречное предложение.</td>
							<td style="font-size: 12px; text-align: right;">01.01.09</td>
						</tr>
					</table>
					
					<div style="width: 20px; height: 20px; clear: both;"><spacer type="block" width="20" height="20"></div>
					
					
				</div>
				<div class="FrameBot"></div>
				<!-- ...Рамка -->

			<!-- ...Тело страницы -->
			
			<!-- Футер... -->
				<div class="Footer"></div>
			<!-- ...Футер -->
			
		</div>
		<!-- ...Шапка -->
	</div>
	<!-- ...Блок страницы задающий общую, минимальную ширину страницы -->

</body>
</html>