<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Рабочее место владельца контента</title>
</head>

<link rel="stylesheet" type="text/css" href="style.css" />

<body>

	<!-- Блок страницы задающий общую, минимальную ширину страницы... -->
	<div class="AllBody">

		<!-- Шапка... -->
		<div class="HeaderBlock">
		
			<!-- Логотип... -->
			<div class="Logo"></div>
			<!-- ...Логотип -->
			
			<!-- Главное меню... -->
				<div class="MenuBox">
					<div class="MnuMyResourcesOff" onclick="document.location='index.html'" onmouseover="this.className='MnuMyResourcesOn'" onmouseout="this.className='MnuMyResourcesOff'"></div>
					<div class="MnuMarketSel" onclick="document.location='market.html'"></div>
					<div class="MnuContactOff" onclick="document.location='#'" onmouseover="this.className='MnuContactOn'" onmouseout="this.className='MnuContactOff'"></div>
					<div class="MnuStatisticsOff" onclick="document.location='stat.html'" onmouseover="this.className='MnuStatisticsOn'" onmouseout="this.className='MnuStatisticsOff'"></div>
					<div class="MnuAnalyticsOff" onclick="document.location='#'" onmouseover="this.className='MnuAnalyticsOn'" onmouseout="this.className='MnuAnalyticsOff'"></div>
					<div class="MnuPersonalareaOff" onclick="document.location='cab.html'" onmouseover="this.className='MnuPersonalareaOn'" onmouseout="this.className='MnuPersonalareaOff'"></div>
				</div>
			<!-- ...Главное меню -->
			
			<div style="width: 10px; height: 10px; clear: both;"><spacer type="block" width="10" height="10"></div>
			<div class="HeadLine"></div>
			
			<!-- Меню вотрого уровня... --->
			<div class="SubMenuOff"><a href="market.html">Мои предложения</a></div>
			<div class="SubMenuSep"></div>
			<div class="SubMenuOff"><a href="otheroffers.html">Предложения других поставщиков</a></div>
			<div class="SubMenuSep"></div>
			<div class="SubMenuSel"><a href="bidding.html">Торги</a></div>
			<!-- ...Меню вотрого уровня --->
			
			<div style="width: 10px; height: 10px; clear: both;"><spacer type="block" width="10" height="10"></div>
			
			<!-- Тело страницы... -->
		
				<div class="h1"><a href="bidding.html">Торги</a> / Процесс торгов</div>

				<!-- Рамка... -->
				<div class="FrameTop"></div>
				<div class="FrameMid">

				
						<div class="FrmColLeft">

							<table width="100%" border="0" cellspacing="0" cellpadding="0">
								<tr>
									<th><div class="h2">Правообладатель &laquo;CТТ&raquo; </div></th>
								</tr>
							</table>

							<table class="FrmTabs" border="0" cellspacing="0" cellpadding="0">
								<tr>
									<th>Регион:</th>
									<td>Москва, Петербург, новгород, Калининград.</td>
								</tr>
								<tr>
									<th>Возраст:</th>
									<td>25&#8211;30</td>
								</tr>
								<tr>
									<th>Пол:</th>
									<td >Мужской</td>
								</tr>
								<tr>
									<th>Доход: </th>
									<td>1000&#8211;10000</td>
								</tr>
								<tr>
									<th>Устройства доступа:</th>
									<td>Все</td>
								</tr>
								<tr>
									<th>Срок контракта:</th>
									<td >1 год</td>
								</tr>
								<tr>
									<th>Коментарии:</th>
									<td >Терминаторр 3, Матрица и многое другое...</td>
								</tr>
								<tr>
									<th>Цена:</th>
									<td >Договорная</td>
								</tr>
							</table>

						</div>
					
						<div class="FrmColRight">

							<table width="100%" border="0" cellspacing="0" cellpadding="0">
								<tr>
									<th><div class="h2">Медиа объекты</div></th>
								</tr>
								<tr class="ItemUnsel" onclick="document.location='image.html'" onmouseover="this.className='ItemSel'" onmouseout="this.className='ItemUnsel'">
									<td>Терминатор 3</td>
								</tr>
								<tr class="ItemUnsel" onclick="document.location='file.html'" onmouseover="this.className='ItemSel'" onmouseout="this.className='ItemUnsel'">
									<td>Матрица</td>
								</tr>
								<tr class="ItemUnsel" onclick="document.location='file.html'" onmouseover="this.className='ItemSel'" onmouseout="this.className='ItemUnsel'">
									<td>Парк культуры и отдыха</td>
								</tr>
								<tr class="ItemUnsel" onclick="document.location='image.html'" onmouseover="this.className='ItemSel'" onmouseout="this.className='ItemUnsel'">
									<td>День когда Земля остановилась</td>
								</tr>
								<tr class="ItemUnsel" onclick="document.location='file.html'" onmouseover="this.className='ItemSel'" onmouseout="this.className='ItemUnsel'">
									<td>Матрица 2: Перезагрузка</td>
								</tr>
								<tr class="ItemUnsel" onclick="document.location='file.html'" onmouseover="this.className='ItemSel'" onmouseout="this.className='ItemUnsel'">
									<td>Затерянный мир</td>
								</tr>
							</table>


						</div>
						
						<div style="width: 10px; height: 10px; clear: both;"><spacer type="block" width="10" height="10"></div>
					
						<div class="BtnBox">
							<div class="BtnCopyOff" onclick="document.location='#'" onmouseover="this.className='BtnCopyOn'" onmouseout="this.className='BtnCopyOff'"></div>
							<div class="BtnExtendOff" onclick="document.location='#'" onmouseover="this.className='BtnExtendOn'" onmouseout="this.className='BtnExtendOff'"></div>
						</div>
					

					
				</div>
				<div class="FrameBot"></div>
				<!-- ...Рамка -->

				<div style="width: 40px; height: 40px; clear: both;"><spacer type="block" width="40" height="40"></div>

				<!-- Рамка... -->
				<div class="FrameTop"></div>
				<div class="FrameMid">



					<table width="830" align="center" border="0" cellspacing="0" cellpadding="0">
						<tr>
							<th style="width: 100px;">Оператор</th>
							<th style="width: 250px;">Регионы</th>
							<th colspan="2">Аудитория по&nbsp;возростам</th>
							<th colspan="2">Аудитория по&nbsp;полу</th>
							<th colspan="2">Доход</th>
						</tr>
						<tr>
							<td rowspan="4" style="white-space: nowrap; line-height: 18px;">Internet IP</td>
							<td rowspan="4" style="line-height: 18px;">Москва, Петербург, Новгород, Краснодар, Ростов, Сочи, Воркута, Нарофоминск.</td>
							<td style="font-size: 12px; white-space: nowrap; color: #81858E;">от 18 до 25:</td><td style="text-align: right;">2000</td>
							<td style="font-size: 12px; color: #81858E;">Мужчины:</td><td style="text-align: right;">6000</td>
							<td style="font-size: 12px; white-space: nowrap; color: #81858E;">10000&#8211;10000:</td><td style="text-align: right;">1000</td>
						</tr>
						<tr>
							<td style="font-size: 12px; white-space: nowrap; color: #81858E;">от 26 до 35:</td><td style="text-align: right;">2500</td>
							<td style="font-size: 12px; color: #81858E;">Женщины:</td><td style="text-align: right;">4200</td>
							<td style="font-size: 12px; white-space: nowrap; color: #81858E;">11000&#8211;50000:</td><td style="text-align: right;">2000</td>
						</tr>
						<tr>
							<td style="font-size: 12px; white-space: nowrap; color: #81858E;">от 36 до 50:</td><td style="text-align: right;">1000</td>
							<td style="font-size: 12px;">&nbsp;</td><td style="font-size: 12px;">&nbsp;</td>
							<td style="font-size: 12px; white-space: nowrap; color: #81858E;">51000&#8211;100000:</td><td style="text-align: right;">2000</td>
						</tr>
						<tr>
							<td style="font-size: 12px; white-space: nowrap; color: #81858E;">от 50 и старше:</td><td style="text-align: right;">500</td>
							<td style="font-size: 12px;">&nbsp;</td><td style="font-size: 12px;">&nbsp;</td>
							<td style="font-size: 12px; white-space: nowrap; color: #81858E;">&nbsp;</td><td style="font-size: 12px;">&nbsp;</td>
						</tr>
					</table>

					<div style="width: 20px; height: 20px; clear: both;"><spacer type="block" width="20" height="20"></div>

					<table "FrmTabs" width="830" align="center" border="0" cellspacing="0" cellpadding="0">
						<tr>
							<td style="border: 0;"><span style="font-size: 12px; white-space: nowrap; color: #81858E; font-weight: normal;">Клиентская база:</span> 10000</td>
							<td style="text-align: center; border: 0;"><span style="font-size: 12px; white-space: nowrap; color: #81858E; font-weight: normal;">Подключено:</span> 11500</td>
							<td style="text-align: right; border: 0;"><span style="font-size: 12px; white-space: nowrap; color: #81858E; font-weight: normal;">Клиентская база:</span> 10 мб/с</td>
						</tr>
					</table>	
					
				</div>
				<div class="FrameBot"></div>
				<!-- ...Рамка -->

				<div style="width: 40px; height: 40px; clear: both;"><spacer type="block" width="40" height="40"></div>

				<!-- Рамка... -->
				<div class="FrameTop"></div>
				<div class="FrameMid">

					<table width="830" align="center" border="0" cellspacing="0" cellpadding="0">
						<tr>
							<th style="width: 100px;">Оператор</th>
							<th style="width: 250px;">Регионы</th>
							<th colspan="2">Аудитория по&nbsp;возростам</th>
							<th colspan="2">Аудитория по&nbsp;полу</th>
							<th colspan="2">Доход</th>
						</tr>
						<tr>
							<td rowspan="4" style="white-space: nowrap; line-height: 18px;">Internet IP</td>
							<td rowspan="4" style="line-height: 18px;">
								Все
								
									
						<div class="BtnDetailOff" onclick="document.location='#'" onmouseover="this.className='BtnDetailOn'" onmouseout="this.className='BtnDetailOff'"></div>
	
								
							</td>
							<td style="font-size: 12px; white-space: nowrap; color: #81858E;">от 18 до 25:</td><td style="text-align: right;">2000</td>
							<td style="font-size: 12px; color: #81858E;">Мужчины:</td><td style="text-align: right;">6000</td>
							<td style="font-size: 12px; white-space: nowrap; color: #81858E;">10000&#8211;10000:</td><td style="text-align: right;">1000</td>
						</tr>
						<tr>
							<td style="font-size: 12px; white-space: nowrap; color: #81858E;">от 26 до 35:</td><td style="text-align: right;">2500</td>
							<td style="font-size: 12px; color: #81858E;">Женщины:</td><td style="text-align: right;">4200</td>
							<td style="font-size: 12px; white-space: nowrap; color: #81858E;">11000&#8211;50000:</td><td style="text-align: right;">2000</td>
						</tr>
						<tr>
							<td style="font-size: 12px; white-space: nowrap; color: #81858E;">от 36 до 50:</td><td style="text-align: right;">1000</td>
							<td style="font-size: 12px;">&nbsp;</td><td style="font-size: 12px;">&nbsp;</td>
							<td style="font-size: 12px; white-space: nowrap; color: #81858E;">51000&#8211;100000:</td><td style="text-align: right;">2000</td>
						</tr>
						<tr>
							<td style="font-size: 12px; white-space: nowrap; color: #81858E;">от 50 и старше:</td><td style="text-align: right;">500</td>
							<td style="font-size: 12px;">&nbsp;</td><td style="font-size: 12px;">&nbsp;</td>
							<td style="font-size: 12px; white-space: nowrap; color: #81858E;">&nbsp;</td><td style="font-size: 12px;">&nbsp;</td>
						</tr>
					</table>

					<div style="width: 20px; height: 20px; clear: both;"><spacer type="block" width="20" height="20"></div>

					<table "FrmTabs" width="830" align="center" border="0" cellspacing="0" cellpadding="0">
						<tr>
							<td style="border: 0;"><span style="font-size: 12px; white-space: nowrap; color: #81858E; font-weight: normal;">Качество доставки:</span> Не определено</td>
							<td style="text-align: center; border: 0;"><span style="font-size: 12px; white-space: nowrap; color: #81858E; font-weight: normal;">DRM:</span> Есть</td>
							<td style="text-align: right; border: 0;"><span style="font-size: 12px; white-space: nowrap; color: #81858E; font-weight: normal;">Суммарно клиентская база:</span> 10000</td>
						</tr>
					</table>

				</div>
						
				<div class="FrameBot"></div>
				
				<!-- ...Рамка -->

				<div style="width: 40px; height: 40px; clear: both;"><spacer type="block" width="40" height="40"></div>

				<!-- Рамка... -->
				<div class="FrameTop"></div>
				<div class="FrameMid">

					<form id="form1" name="form1" method="post" action="">
					
						<div class="FrmColLeft">


  							<div class="FrmLabel">Коментарии</div>
							<table border="0" cellspacing="0" cellpadding="0">
								<tr>
									<td class="FrmInput"><textarea style="width: 380px; height: 150px;" name="Note" id="Note"></textarea></td>
								</tr>
							</table>

						</div>
					
						<div class="FrmColRight">

							<table style="border: 0;" border="0" cellspacing="0" cellpadding="0">
								<tr>
									<td>
										<div class="FrmLabel">Цена правообладателя</div>
										<table style="border: 0;" cellspacing="0" cellpadding="0">
											<tr>
												<td>

										<table border="0" cellspacing="0" cellpadding="0">
											<tr>
													<td class="FrmInput"><input style="width: 103px;" type="text" name="Name" id="Name" /></td>
											</tr>
										</table>
													
												</td>
												<td><div style="width: 10px; height: 10px; clear: both;"><spacer type="block" width="10" height="10"></div></td>
												<td>
												
													<select style="width: 60px;" name="OfferType" id="OfferType" onchange="MM_jumpMenu('parent',this,0)">
														<option value="1">%</option>
														<option value="2">Руб.</option>
													</select>

												</td>
											</tr>
										</table>
									</td>
								</tr>
							</table>

							<fieldset>
							<table style="border: 0; width: 200px;" border="0" cellspacing="0" cellpadding="0">
								<tr>
									<td style="width: 160px;"><div class="FrmLabel" style="padding-left: 15px;">Конечная цена важна:</div></td>
									<td class="FrmCheckBox" stile="border: 0px;"><input type="checkbox" name="checkbox" id="checkbox" /></td>
								</tr>
							</table>

							<div align="center">						
						
								<table style="border: 0;" border="0" cellspacing="0" cellpadding="0">
									<tr>
										<td>
											<div class="FrmLabel">Максимальная цена</div>
											<table style="border: 0;" cellspacing="0" cellpadding="0">
												<tr>
													<td>
														<table border="0" cellspacing="0" cellpadding="0">
															<tr>
																<td class="FrmInput"><input style="width: 88px;" type="text" name="Name" id="Name" /></td>
															</tr>
														</table>
													</td>
													<td><div style="width: 10px; height: 10px; clear: both;"><spacer type="block" width="10" height="10"></div></td>
													<td>
														<select style="width: 60px;" name="OfferType" id="OfferType" onchange="MM_jumpMenu('parent',this,0)">
															<option value="1">%</option>
															<option value="2">Руб.</option>
														</select>
													</td>
												</tr>
											</table>
										</td>
										<td>
											<div style="width: 20px; height: 10px; clear: both;"><spacer type="block" width="20" height="10"></div>
										</td>
										<td>
											<div class="FrmLabel">Минимальная цена</div>
											<table style="border: 0;" cellspacing="0" cellpadding="0">
												<tr>
													<td>
														<table border="0" cellspacing="0" cellpadding="0">
															<tr>
																<td class="FrmInput"><input style="width: 87px;" type="text" name="Name" id="Name" /></td>
															</tr>
														</table>
													</td>
													<td><div style="width: 10px; height: 10px; clear: both;"><spacer type="block" width="10" height="10"></div></td>
													<td>
														<select style="width: 60px;" name="OfferType" id="OfferType" onchange="MM_jumpMenu('parent',this,0)">
															<option value="1">%</option>
															<option value="2">Руб.</option>
														</select>
													</td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								
								<div style="width: 20px; height: 20px; clear: both;"><spacer type="block" width="20" height="20"></div>
					
								</div>
							</fieldset>


						</div>
						
						<div style="width: 0px; height: 0px; clear: both;"><spacer type="block" width="0" height="0"></div>

					</form>
					
				</div>
				<div class="FrameBot"></div>
				<!-- ...Рамка -->
				
				<div style="width: 40px; height: 40px; clear: both;"><spacer type="block" width="40" height="40"></div>

				<!-- Рамка... -->
				<div class="FrameTop"></div>
				<div class="FrameMid">

					<form id="form1" name="form1" method="post" action="">
					
						<div class="FrmColLeft">


  							<div class="FrmLabel">Коментарии</div>
							<table border="0" cellspacing="0" cellpadding="0">
								<tr>
									<td class="FrmInput"><textarea style="width: 380px; height: 150px;" name="Note" id="Note"></textarea></td>
								</tr>
							</table>

						</div>
					
						<div class="FrmColRight">

							<table style="border: 0;" border="0" cellspacing="0" cellpadding="0">
								<tr>
									<td>
										<div class="FrmLabel">Цена правообладателя</div>
										<table style="border: 0;" cellspacing="0" cellpadding="0">
											<tr>
												<td>

										<table border="0" cellspacing="0" cellpadding="0">
											<tr>
													<td class="FrmInput"><input style="width: 103px;" type="text" name="Name" id="Name" /></td>
											</tr>
										</table>
													
												</td>
												<td><div style="width: 10px; height: 10px; clear: both;"><spacer type="block" width="10" height="10"></div></td>
												<td>
												
													<select style="width: 60px;" name="OfferType" id="OfferType" onchange="MM_jumpMenu('parent',this,0)">
														<option value="1">%</option>
														<option value="2">Руб.</option>
													</select>

												</td>
											</tr>
										</table>
									</td>
								</tr>
							</table>

							<fieldset>
							<table style="border: 0; width: 200px;" border="0" cellspacing="0" cellpadding="0">
								<tr>
									<td style="width: 160px;"><div class="FrmLabel" style="padding-left: 15px;">Конечная цена важна:</div></td>
									<td class="FrmCheckBox" stile="border: 0px;"><input type="checkbox" name="checkbox" id="checkbox" /></td>
								</tr>
							</table>

							<div align="center">						
						
								<table style="border: 0;" border="0" cellspacing="0" cellpadding="0">
									<tr>
										<td>
											<div class="FrmLabel">Максимальная цена</div>
											<table style="border: 0;" cellspacing="0" cellpadding="0">
												<tr>
													<td>
														<table border="0" cellspacing="0" cellpadding="0">
															<tr>
																<td class="FrmInput"><input style="width: 88px;" type="text" name="Name" id="Name" /></td>
															</tr>
														</table>
													</td>
													<td><div style="width: 10px; height: 10px; clear: both;"><spacer type="block" width="10" height="10"></div></td>
													<td>
														<select style="width: 60px;" name="OfferType" id="OfferType" onchange="MM_jumpMenu('parent',this,0)">
															<option value="1">%</option>
															<option value="2">Руб.</option>
														</select>
													</td>
												</tr>
											</table>
										</td>
										<td>
											<div style="width: 20px; height: 10px; clear: both;"><spacer type="block" width="20" height="10"></div>
										</td>
										<td>
											<div class="FrmLabel">Минимальная цена</div>
											<table style="border: 0;" cellspacing="0" cellpadding="0">
												<tr>
													<td>
														<table border="0" cellspacing="0" cellpadding="0">
															<tr>
																<td class="FrmInput"><input style="width: 87px;" type="text" name="Name" id="Name" /></td>
															</tr>
														</table>
													</td>
													<td><div style="width: 10px; height: 10px; clear: both;"><spacer type="block" width="10" height="10"></div></td>
													<td>
														<select style="width: 60px;" name="OfferType" id="OfferType" onchange="MM_jumpMenu('parent',this,0)">
															<option value="1">%</option>
															<option value="2">Руб.</option>
														</select>
													</td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								
								<div style="width: 20px; height: 20px; clear: both;"><spacer type="block" width="20" height="20"></div>
					
								</div>
							</fieldset>


						</div>
						
						<div style="width: 0px; height: 0px; clear: both;"><spacer type="block" width="0" height="0"></div>

					</form>
					
				</div>
				<div class="FrameBot"></div>
				<!-- ...Рамка -->
				
						<div class="BtnBox">
							<div class="BtnChangeOff" onclick="document.location='#'" onmouseover="this.className='BtnChangeOn'" onmouseout="this.className='BtnChangeOff'"></div>
							<div class="BtnRejectOff" onclick="document.location='#'" onmouseover="this.className='BtnRejectOn'" onmouseout="this.className='BtnRejectOff'"></div>
							<div class="BtnTakeOff" onclick="document.location='#'" onmouseover="this.className='BtnTakeOn'" onmouseout="this.className='BtnTakeOff'"></div>
						</div>

			<!-- ...Тело страницы -->
			
			<!-- Футер... -->
				<div class="Footer"></div>
			<!-- ...Футер -->
			
		</div>
		<!-- ...Шапка -->
	</div>
	<!-- ...Блок страницы задающий общую, минимальную ширину страницы -->

</body>
</html>