<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Рабочее место владельца контента</title>
</head>

<link rel="stylesheet" type="text/css" href="style.css" />

<body>

	<!-- Блок страницы задающий общую, минимальную ширину страницы... -->
	<div class="AllBody">

		<!-- Шапка... -->
		<div class="HeaderBlock">
		
			<!-- Логотип... -->
			<div class="Logo"></div>
			<!-- ...Логотип -->
			
			<!-- Главное меню... -->
				<div class="MenuBox">
					<div class="MnuMyResourcesSel" onclick="document.location='index.html'"></div>
					<div class="MnuMarketOff" onclick="document.location='market.html'" onmouseover="this.className='MnuMarketOn'" onmouseout="this.className='MnuMarketOff'"></div>
					<div class="MnuContactOff" onclick="document.location='#'" onmouseover="this.className='MnuContactOn'" onmouseout="this.className='MnuContactOff'"></div>
					<div class="MnuStatisticsOff" onclick="document.location='stat.html'" onmouseover="this.className='MnuStatisticsOn'" onmouseout="this.className='MnuStatisticsOff'"></div>
					<div class="MnuAnalyticsOff" onclick="document.location='#'" onmouseover="this.className='MnuAnalyticsOn'" onmouseout="this.className='MnuAnalyticsOff'"></div>
					<div class="MnuPersonalareaOff" onclick="document.location='cab.html'" onmouseover="this.className='MnuPersonalareaOn'" onmouseout="this.className='MnuPersonalareaOff'"></div>
				</div>
			<!-- ...Главное меню -->
			
			<div style="width: 10px; height: 10px; clear: both;"><spacer type="block" width="10" height="10"></div>
			<div class="HeadLine"></div>
			
			<!-- Меню вотрого уровня... --->
			<div class="SubMenuSel"><a href="index.html">Каталог ресурсов</a></div>
			<div class="SubMenuSep"></div>
			<div class="SubMenuOff"><a href="load.html">Загрузка данных</a></div>
			<!-- ...Меню вотрого уровня --->
			
			<div style="width: 10px; height: 10px; clear: both;"><spacer type="block" width="10" height="10"></div>
			
			<!-- Тело страницы... -->
				<div class="h1"><a href="item.html">Медиа объект&nbsp;&#8212; Терминатор 3</a> / Файл данных&nbsp;&#8212; Terminator_3_hd.avi</div>

				<!-- Рамка... -->
				<div class="FrameTop"></div>
				<div class="FrameMid">

					<form id="form1" name="form1" method="post" action="">
					
						<div class="FrmColLeft">
							
							<div class="FrmLabel">Тип данных</div>
							<table border="0" cellspacing="0" cellpadding="0">
								<tr>
									<td class="FrmInput"><input style="width: 378px;" type="text" name="RusName" id="RusName" /></td>
								</tr>
							</table>
							
							<div class="h2">Видео</div>

							<table style="border: 0;" border="0" cellspacing="0" cellpadding="0">
								<tr>
									<td>
										<div class="FrmLabel">Видео дорожка</div>
										<select style="width: 185px;" name="Video" id="Video" onchange="MM_jumpMenu('parent',this,0)">
											<option value="1">Видео дорожка 1</option>
											<option value="2">Видео дорожка 2</option>
											<option value="2">Видео дорожка 3</option>
										</select>
									</td>
									<td>
										<div style="width: 20px; height: 10px; clear: both;"><spacer type="block" width="20" height="10"></div>
									</td>
									<td>
										<div class="FrmLabel">Размер</div>
										<table border="0" cellspacing="0" cellpadding="0">
											<tr>
													<td class="FrmInput"><input style="width: 173px;" type="text" name="Name" id="Name" /></td>
											</tr>
										</table>
									</td>
								</tr>
							</table>
  
  							<table style="border: 0;" border="0" cellspacing="0" cellpadding="0">
								<tr>
									<td>
										<div class="FrmLabel">Формат</div>
										<table border="0" cellspacing="0" cellpadding="0">
											<tr>
													<td class="FrmInput"><input style="width: 173px;" type="text" name="Name" id="Name" /></td>
											</tr>
										</table>
									</td>
									<td>
										<div style="width: 20px; height: 10px; clear: both;"><spacer type="block" width="20" height="10"></div>
									</td>
									<td>
										<div class="FrmLabel">Контейнер</div>
										<table border="0" cellspacing="0" cellpadding="0">
											<tr>
													<td class="FrmInput"><input style="width: 173px;" type="text" name="Name" id="Name" /></td>
											</tr>
										</table>
									</td>
								</tr>
							</table>
							
							<table style="border: 0;" border="0" cellspacing="0" cellpadding="0">
								<tr>
									<td>
										<div class="FrmLabel">Битрейт</div>
										<table border="0" cellspacing="0" cellpadding="0">
											<tr>
													<td class="FrmInput"><input style="width: 173px;" type="text" name="Name" id="Name" /></td>
											</tr>
										</table>
									</td>
									<td>
										<div style="width: 20px; height: 10px; clear: both;"><spacer type="block" width="20" height="10"></div>
									</td>
									<td>
										<div class="FrmLabel">Разрешение</div>
										<table style="border: 0;" border="0" cellspacing="0" cellpadding="0">
											<tr>
												<td>
													<table border="0" cellspacing="0" cellpadding="0">
														<tr>
															<td class="FrmInput"><input style="width: 70px;" type="text" name="Name" id="Name" /></td>
														</tr>
													</table>
												</td>
												<td class="FrmX">×</td>
												<td>
													<table border="0" cellspacing="0" cellpadding="0">
														<tr>
															<td class="FrmInput"><input style="width: 70px;" type="text" name="Name" id="Name" /></td>
														</tr>
													</table>
												</td>
											</tr>
										</table>
									</td>
								</tr>
							</table>

							<div class="h2">Звук</div>

							<div class="FrmLabel">Звуковая дорожка</div>
							<select style="width: 185px;" name="Audio" id="Audio" onchange="MM_jumpMenu('parent',this,0)">
								<option value="1">Звуковая дорожка 1</option>
								<option value="2">Звуковая дорожка 2</option>
								<option value="2">Звуковая дорожка 3</option>
							</select>

							<table style="border: 0;" border="0" cellspacing="0" cellpadding="0">
								<tr>
									<td>
										<div class="FrmLabel">Формат</div>
										<table border="0" cellspacing="0" cellpadding="0">
											<tr>
												<td class="FrmInput"><input style="width: 173px;" type="text" name="Name" id="Name" /></td>
											</tr>
										</table>
									</td>
									<td>
										<div style="width: 20px; height: 10px; clear: both;"><spacer type="block" width="20" height="10"></div>
									</td>
									<td>
										<div class="FrmLabel">Битрейт</div>
										<table border="0" cellspacing="0" cellpadding="0">
											<tr>
												<td class="FrmInput"><input style="width: 173px;" type="text" name="Name" id="Name" /></td>
											</tr>
										</table>
									</td>
								</tr>
							</table>

						</div>
					
						<div class="FrmColRight">
						
							<div align="center" style="padding-top: 10px;">
								<img class="BigCover" src="tmp/cover_01b.png" width="300" height="419">
							</div>

						</div>
						
						<div style="width: 0px; height: 0px; clear: both;"><spacer type="block" width="0" height="0"></div>
					
						<div class="BtnBox">
							<div class="BtnLoadOff" onclick="document.location='#'" onmouseover="this.className='BtnLoadOn'" onmouseout="this.className='BtnLoadOff'"></div>
							<div class="BtnSeeOff" onclick="document.location='#'" onmouseover="this.className='BtnSeeOn'" onmouseout="this.className='BtnSeeOff'"></div>
							<div class="BtnDeleteOff" onclick="document.location='#'" onmouseover="this.className='BtnDeleteOn'" onmouseout="this.className='BtnDeleteOff'"></div>
						</div>
					
					</form>
					
				</div>
				<div class="FrameBot"></div>
				<!-- ...Рамка -->
		
			<!-- ...Тело страницы -->
			
			<!-- Футер... -->
				<div class="Footer"></div>
			<!-- ...Футер -->
			
		</div>
		<!-- ...Шапка -->
	</div>
	<!-- ...Блок страницы задающий общую, минимальную ширину страницы -->

</body>
</html>